@keyframes header {
  from {
    top: -200px;
  }
  to{
    top: 0;
  }
}

@-webkit-keyframes header {
  from {
    top: -200px;
  }
  to{
    top: 0;
  }
}

@-moz-keyframes header {
  from {
    top: -200px;
  }
  to{
    top: 0;
  }
}